.container {
  background-color: black;
  color: white;
  padding: 5px 20px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  height: 40px;
  /* background-color: gray; */

  align-items: center;
}

.playerContainer {
  display: flex;
  padding-top: 30px;
}

.videoPlayer {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* justify-content: center; */
  margin-top: 5px;
  gap: 10px;
}

.videoTitle {
  font-size: 20;
  text-decoration: strong;
}
.logo {
  height: 50px;
  width: 100px;
}

img:hover {
  cursor: pointer;
}

.icon {
  display: flex;
}

div > i {
  padding: 20px;
}

.search {
  border-color: red;
  border-radius: 40px 0 0 40px;
  border: 1px solid;
  width: 80%;
}

.videoSearch {
  background: transparent;
  border: none;
  box-shadow: none;
  /* border: none; */
  padding: 0px 10px;
  border-radius: 40px 0 0 40px;
  height: 30px;
  width: 100%;
}
input:focus {
  color: white;
  padding: 5 15px;
}

.searchBtn {
  border-radius: 0 40px 40px 0;
  border: 1px solid;
  background-color: transparent;
  color: white;
}

.middle {
  display: flex;
  width: 80%;
  justify-content: center;
}

.links {
  display: flex;
}

.topSuggestions {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .topSuggestions {
    display: none;
  }
  .videoPlayer {
    width: 100%;
  }
  .subConents {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .playerContainer {
    display: flex;
    flex-direction: column;
  }
}

.VideoDetail {
  width: 100%;
}
.sideVideos {
  display: flex;
  padding: 0 20px;
  gap: 10px;
  flex-wrap: nowrap;
}

.sideDescription {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px 0;
  justify-content: space-between;
}

.sideChannel {
  color: gray;
}
.sideStat {
  display: flex;
  justify-content: space-between;
  color: gray;
}

.sideTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  /* white-space: nowrap; */
}

.videoSub {
  display: flex;
  gap: 10px;
}

.videoLike {
  display: flex;
  justify-content: space-between;
}

.subConents {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
}

.pill {
  background-color: rgb(112, 108, 108);
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.subscribe {
  padding: 5px 20px;
  border-radius: 20px;
}

.imageProfile {
  border-radius: 100%;
}

.channalProfile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pill > i {
  padding: 0px 10px;
}

.video {
  display: flex;
  justify-content: center;
}

.channelname {
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* .suggestionScroll {
  overflow: scroll;
  overflow: hidden;
} */
